<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi me-2" width="40" height="32"></i>
        <span class="fs-4">Nodes</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="accordion accordion-flush nav-item" id="accordionFlushExample">
            <div class="accordion-item bg-dark">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-dark text-white ps-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <i class="bi bi-window-stack me-2 text-white" width="16" height="16"></i>
                        <span>Scenes</span>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0">
                        <ul id="scene-list" class="list-group">
                            {% for scene in scenes %}
                            <li class="list-group-item saved-scene {% if loop.first %}active{% endif %}" aria-current="true">
                                <i class="bi bi-window me-2 text-white" width="8" height="8"></i>
                                <span>{{scene}}</span>
                            </li>
                            {% endfor %}
                            <li id="new-scene" class="list-group-item" aria-current="true" style="border-top: 2px rgb(81, 81, 81) solid">
                                <i class="bi bi-plus-lg me-2 text-white" width="8" height="8"></i>
                                <span>New scene...</span>
                            </li>
                            <li id="save-scene" class="list-group-item" aria-current="true">
                                <i class="bi bi-floppy me-2 text-white" width="8" height="8"></i>
                                <span>Save scene...</span>
                            </li>
                            <li id="delete-scene" class="list-group-item" aria-current="true">
                                <i class="bi bi-trash3 me-2 text-white" width="8" height="8"></i>
                                <span>Delete scene...</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-card-text me-2" width="16" height="16"></i>
                <span>Labels</span>
                {% with options=['textarea-t', 'input-cursor-text'] %}
                    {% include 'options-menu.html' %}
                {% endwith %}
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-circle-square me-2" width="16" height="16"></i>
                <span>Shapes</span>
                {% with options=['circle', 'square', 'triangle'] %}
                    {% include 'options-menu.html' %}
                {% endwith %}
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-cloud-plus me-2" width="16" height="16"></i>
                <span>Miscellaneous</span>
            </a>
        </li>
    </ul>
    <hr>
    <div class="d-flex">
        <div class="dropdown d-flex-inline">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="profile-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/c0dio.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>C0dio</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="profile-dropdown">
                <li><a class="dropdown-item disabled" href="#">Settings</a></li>
                <li><a class="dropdown-item disabled" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item disabled" href="#">Sign out</a></li>
            </ul>
        </div>
        <div class="form-check form-switch ms-auto d-flex align-items-center">
            <input id="autosave" class="form-check-input" data-bs-toggle="tooltip" data-bs-placement="top" title="Autosave" type="checkbox">
        </div>
    </div>
</div>